---
layout: default
---

<div class="channel">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.author }}</h1>
    <p><a href="{{ page.webpage_url }}">{{ page.webpage_url }}</a></p>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Episodes" }}</h2>
    {%- assign rss_url = page.url | replace: ".html", ".xml" -%}
    {%- if rss_url -%}<p><a href="{{ rss_url | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> <span>{{ site.rss | escape }}</span></a></p>{%- endif -%}

    <ul class="">
      {%- for post in site.posts -%}
      {% if post.channel_id == page.channel_id %}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </li>
      {% endif %}
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
