---
layout: none
---


<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:podcast="https://podcastindex.org/namespace/1.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:content="http://purl.org/rss/1.0/modules/content/">

    <channel>
        <title>{{ page["author"] | xml_escape }}</title>
        <link>{{ page["webpage_url"] | xml_escape }}</link>
        <language>en-US</language>
        <copyright>{{ page["author"] | xml_escape }}</copyright>
        <itunes:author>{{ page["author"] | xml_escape }}</itunes:author>

        <atom:link href="{{ page.url | absolute_url }}" rel="self" type="application/rss+xml" />
        <description>
            <![CDATA[{{ page["channel"].content }}]]>
        </description>
        <itunes:type>episodic</itunes:type>
        {{ page.url }}
        <itunes:image href="{{ page.thumbnail | prepend: '/channels/' | absolute_url }}" />

        <itunes:category text="Science" />
        <itunes:explicit>false</itunes:explicit>

        <lastBuildDate>{{ site.time | date_to_rfc822 }}</lastBuildDate>

        {% for post in site.posts %}{% if post.audio %}{% if post.channel_id == page.channel_id %}
        <item>
            <title>{{ post.title | escape }}</title>
            <link>{{ post.webpage_url }}</link>
            <author>{{ post.author }}</author>
            <description>
                <![CDATA[{{ post.content | truncate: "4000" }}]]>
            </description>
            <pubDate>{{ post.date | date_to_rfc822 }}</pubDate>
            <guid>{{ post.url | prepend: site.url }}</guid>
            <itunes:explicit>false</itunes:explicit>
            <itunes:duration>{{ post.duration }}</itunes:duration>
            
            <enclosure url="{{ post.audio | replace_first: '_', '/' | absolute_url }}" length="5650889" type="audio/m4a" />
            {% if post.transcript %}<podcast:transcript type="text/vtt" url="{{ post.transcript | replace_first: '_', '/' | absolute_url }}" />{% endif %}
        </item>
        {% endif %}{% endif %}{% endfor %}
    </channel>
</rss>
