---
layout: default
---

<div class="channels">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.channels.size > 0 -%}
    <ul>
      {% for item in site.channels %}
      <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {%- assign my_page = site.posts | where: "channel_id", item.channel_id | first -%}
          <a href="{{ item.url }}">{{ item.author }}</a>
          {% if my_page.date %}
              <span class="post-meta">(Updated {{ my_page.date | date: date_format }})</span>
          {% endif %}

      </li>
      {% endfor %}
    </ul>

  {%- endif -%}

</div>
