---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        {% assign channel = site.channels | where: "channel_id", page.channel_id | first %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">
          <a href="{{ channel.url }}">{{ page.author }}</a></span></span>
      {%- endif -%}</p>
  </header>

  <ul>
    <li>Duration {{ page.duration | divided_by: 60 }} minutes</li>
    {% if page.transcript %}<li>Has <a href="{{ page.transcript | replace_first: '_', '/' | absolute_url }}">Transcript</a></li>{% endif %}

  </ul>

  <!--
  {% if page.audio %}
  <audio preload="metadata" controls="" style="width:100%;">
    <source src="{{ page.audio | replace_first: '_', '/' }}" type="audio/m4a" />
    Sadness. Your browser does not support the audio element.
  </audio>
  {% endif %}
  -->

  <div class="post-content e-content" itemprop="articleBody">
    <details>
      <summary>Description</summary>
    {{ content | newline_to_br | markdownify }}
    </details>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
